<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>New Artist</title>
  </head>
  <body>
    <h1 style="text-align: center;">New Artist</h1>
    <p></p>

    <form action="/artist" method="POST">
      <label for="name">Artist Name:</label>
      <input type="text" name="name" id="name" placeholder="NAME">
      <button type="submit">Save New Artist</button>
    </form>

    <p><a href="/album">View Albums</a></p>
    <p><a href="/artist">View Artists</a></p>
    <p><a href="/">HomePage</a></p>
  </body>
</html>